body{
    background-color: #73FF98;
    margin: 0px;
}
#header{
    background-color: black;
    max-height: 60px;
    height: 100%;
    padding: 20px;
    width: auto;
    display: flex;
    justify-content: end;
}
#header img{
    height: 60px;
}
#div1{
    max-height: 300px;
    height: 100%;
    width: auto;
    padding: 70px;
    padding-right: 40px;
    display: flex;
    justify-content: end;
}
#logo{
    max-height: 300px;
    height: 100%;
    width: 400px;
    background-color: #44B261;
    text-align: center;
}
#logo img{
    height: 300px;
    width: 400px;
}
#content{
    height: 250px;
    width: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end
}
#content2{
    height: 250px;
    width: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.circle{
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: #008C24;
}
.info{
    height: 200px;
    width: 350px;
    border: solid black;
}