body {
    margin: 0;
}

#navbar {
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: end;
}

#hamburger {
    margin: 20px;
    cursor: pointer;
}

#hamburger img {
    height: 60px;
}

#front-page {
    padding: 2%;
    background: linear-gradient(to bottom, #73FF98,#44B261);
    height: 900px;
}

#title-div {
    margin: 0 auto;
    border: 5px solid #000000;
    width: 96%;
    max-width: 660px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#title-txt {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

#title-txt span {
    font-size: 75px;
    margin-left: 10px;
}

#title-div img {
    height: 300px;
}

#front-img {
    margin-top: 50px;
}

#front-img img {
    height: 500px;
    float: left;
}

#front-img-txt {
    width: 50%;
    margin: 50px;
    float: right;
}

#front-img-txt p {
    margin-top: 30px;
}