@media screen and (max-width: 800px) {
    #navbar a:not(:first-child) {
        display: none;
    }
    #navbar a.hamburger-icon {
      display: block;
    }
}

body {
    margin: 0;
    font-family: sans-serif;
}

#navbar {
    background-color: #1e1e1e;
    overflow: hidden;
}

#navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 24px 30px;
    text-decoration: none;
    font-size: 30px;

}

#navbar a:hover {
    background-color: #ffffff;
    color: black;
}

#navbar a.selected {
    background-color: #44b261;
    font-weight: bold;
}

#navbar .hamburger-icon {
    float: right;
    display: none;
}

#navbar .logo {
    padding: 0px;
    height: 83.2px;
    display: flex;
}

#navbar .logo img {
    height: 82px;
}

#navbar .logo span {
    padding: 24px 30px;
}

#navbar.hamburgered a.hamburger-icon {
  position: absolute;
  right: 0;
  top: 0;
}

#navbar.hamburgered a {
  float: none;
  text-align: left;
}

#navbar.hamburgered a:not(:first-child) {
    display: block;
}