@media only screen and (max-width: 800px) {
    #navbar a {
        display: none;
    }
}

@media only screen and (min-width: 801px) {
    #hamburger {
        display: none;
    } 
}

body {
    margin: 0;
    font-family: sans-serif;
}

#header {
    background-color: black;
    width: 100%;
    display: flex;
}

#logo {
    height: 100px;
}

#logo img {
    width: 100px;
}

#navbar {
    height: 100px;
    width: calc(100% - 100px);
}

#navbar nav {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    font-size: 32px;
}

#hamburger {
    height: 80px;
}

#hamburger img {
    width: 80px;
    margin: 10px;
}

.nav-selected {
    font-weight: bold;
}