@media screen and (max-width: 800px) {
    .vptx {
        margin: 20px;
    }
}

body {
    background-color: #a0febf;

}

#voorpagina-img img {
    width: 100%;
}

#voorpagina-textbox {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.vptx {
    width: 25%;
    min-width: 300px;
    margin: 50px;
    padding: 5px;
    background-color: #FFC151;
    transition: padding 1s;
}

.vptx a {
    text-decoration: none;
    color: black;
}

.vptx:hover {
    margin: 25px;
    padding: 25px;
}